@charset "utf-8";
/*- index_Banner -*/
.index_Banner { margin-bottom:50px;}
.ban_Ovh,.banCon,.banIn { height:350px;}
.ban_Ovh .on { z-index:3;}
.banCon { top:0; left:0; width:100%;}
.banIn { width:980px; cursor:pointer;}

/*背景颜色*/
.banC01 { background-color:#5abb00;}
.banC02 { background-color:#870e0e;}
.banC03 { background-color:#ffdde6;}
.banC04 { background-color:#003399;}
.banC05 { background-color:#ffae00;}
.banC06 { background-color:#fdc100;}

/*导航颜色*/
.banNc01 em { background-color:#2ea500;}
.banNc01 em.on,.banNc01 em:hover { background-color:#b4ff00;}

.banNc02 em { background-color:#4c0a01;}
.banNc02 em.on,.banNc01 em:hover { background-color:#ff1c1c;}

.banNc03 em { background-color:#fdbcb7;}
.banNc03 em.on,.banNc01 em:hover { background-color:#ffffff;}

.banNc04 em { background-color:#3c7501;}
.banNc04 em.on,.banNc01 em:hover { background-color:#eaff38;}

.banNc05 em { background-color:#ff9400;}
.banNc05 em.on,.banNc01 em:hover { background-color:#ffff00;}

.banNc06 em { background-color:#e89103;}
.banNc06 em.on,.banNc01 em:hover { background-color:#ffff00;}

/*- 第一帧 -*/
@-moz-keyframes xing01{0%{-moz-transform:scale(1.2);opacity:1;}50%{-moz-transform:scale(0.5);opacity:0.2;}100%{-moz-transform:scale(1.2);opacity:1;}}
@-ms-keyframes xing01{0%{-ms-transform:scale(1.2);opacity:1;}50%{-ms-transform:scale(0.5);opacity:0.2;}100%{-ms-transform:scale(1.2);opacity:1;}}
@-o-keyframes xing01{0%{-o-transform:scale(1.2);opacity:1;}50%{-o-transform:scale(0.5);opacity:0.2;}100%{-o-transform:scale(1.2);opacity:1;}}
@-webkit-keyframes xing01{0%{-webkit-transform:scale(1.2);opacity:1;}50%{-webkit-transform:scale(0.5);opacity:0.2;}100%{-webkit-transform:scale(1.2);opacity:1;}}
@keyframes xing01{0%{transform:scale(1.2);opacity:1;}50%{transform:scale(0.5);opacity:0.2;}100%{transform:scale(1.2);opacity:1;}}

@-moz-keyframes yun02{0%{ -moz-transform:translateX(800px); }80%{ -moz-transform:translateX(-580px); opacity:1;}100% { -moz-transform:translateX(-1000px); opacity:0;}}
@-ms-keyframes yun02{0%{ -ms-transform:translateX(800px); }80%{ -ms-transform:translateX(-580px); opacity:1;}100% { -ms-transform:translateX(-1000px); opacity:0;}}
@-o-keyframes yun02{0%{ -o-transform:translateX(800px); }80%{ -o-transform:translateX(-580px); opacity:1;}100% { -o-transform:translateX(-1000px); opacity:0;}}
@-webkit-keyframes yun02{0%{ -webkit-transform:translateX(800px); }80%{ -webkit-transform:translateX(-580px); opacity:1;}100% { -webkit-transform:translateX(-1000px); opacity:0;}}
@keyframes yun02{0%{ transform:translateX(800px); }80%{ transform:translateX(-580px); opacity:1;}100% { transform:translateX(-1000px); opacity:0;}}

@-moz-keyframes muma01{0%{ -moz-transform:translateY(-30px);}100% { -moz-transform:translateY(30px);}}
@-ms-keyframes muma01{0%{ -ms-transform:translateY(-30px);}100% { -ms-transform:translateY(30px);}}
@-o-keyframes muma01{0%{ -o-transform:translateY(-30px);}100% { -o-transform:translateY(30px);}}
@-webkit-keyframes muma01{0%{ -webkit-transform:translateY(-30px);}100% { -webkit-transform:translateY(30px);}}
@keyframes muma01{0%{ transform:translateY(-30px);}100% { transform:translateY(30px);}}

@-moz-keyframes muma02{0%{ -moz-transform:translateY(-15px); }100% { -moz-transform:translateY(15px);}}
@-ms-keyframes muma02{0%{ -ms-transform:translateY(-15px); }100% { -ms-transform:translateY(15px);}}
@-o-keyframes muma02{0%{ -o-transform:translateY(-15px); }100% { -o-transform:translateY(15px);}}
@-webkit-keyframes muma02{0%{ -webkit-transform:translateY(-15px); }100% { -webkit-transform:translateY(15px);}}
@keyframes muma02{0%{ transform:translateY(-15px); }100% { transform:translateY(15px);}}

.banIn01 { background:url(../images/index_Banner/banner_Tu01_01.jpg) no-repeat center 206px; /*206*/}
.on .banIn01 { background-position:center 206px;}
.banIn01 .xx01 { top:34px; left:70px;}
.banIn01 .xx02 { top:44px; left:288px;}
.banIn01 .xx03 { top:114px; left:248px;}
.banIn01 .xx04 { top:166px; left:628px;}
.banIn01 .xx05 { top:42px; right:36px;}

.on .banIn01 .xx01,.on .banIn01 .xx03 {
	-moz-animation:xing01 3s ease-out infinite;
	-ms-animation:xing01 3s ease-out infinite;
	-o-animation:xing01 3s ease-out infinite;
	-webkit-animation:xing01 3s ease-out infinite;
	animation:xing01 3s ease-out infinite;
	}
.on .banIn01 .xx02,.on .banIn01 .xx04 {
	-moz-animation:xing01 3s ease-out 1s infinite;
	-ms-animation:xing01 3s ease-out 1s infinite;
	-o-animation:xing01 3s ease-out 1s infinite;
	-webkit-animation:xing01 2s ease-out 1s infinite;
	animation:xing01 2s ease-out 1s infinite;
	}
.on .banIn01 .xx05 {
	-moz-animation:xing01 3s ease-out 2s infinite;
	-ms-animation:xing01 3s ease-out 2s infinite;
	-o-animation:xing01 3s ease-out 2s infinite;
	-webkit-animation:xing01 2s ease-out 2s infinite;
	animation:xing01 2s ease-out 2s infinite;
	}
.banIn01 .wz { top:26px; right:50px;}
.banIn01 .yy01 { top:106px; left:36px;}
.banIn01 .yy02 { top:190px; right:44px;}
.banIn01 .yy03 { top:100px; left:700px;}
.on .banIn01 .yy03 {
	-moz-animation:yun02 10s linear -3s infinite;
	-ms-animation:yun02 10s linear -3s infinite;
	-o-animation:yun02 10s linear -3s infinite;
	-webkit-animation:yun02 10s linear -3s infinite;
	animation:yun02 10s linear -3s infinite;	
	}

.banIn01 .tz01 { top:-18px; left:334px;}
.banIn01 .rm01 { top:152px; left:322px;}
.banIn01 .rm02 { top:138px; left:418px;}
.banIn01 .rm03 { top:152px; left:526px;}
.on .banIn01 .rm01 {
	-moz-animation:muma01 1.5s ease-in-out -1s infinite alternate;
	-ms-animation:muma01 1.5s ease-in-out -1s infinite alternate;
	-o-animation:muma01 1.5s ease-in-out -1s infinite alternate;
	-webkit-animation:muma01 1.5s ease-in-out -1s infinite alternate;
	animation:muma01 1.5s ease-in-out -1s infinite alternate;
}
.on .banIn01 .rm02 {
	-moz-animation:muma02 1.2s ease-in-out -0.5s infinite alternate;
	-ms-animation:muma02 1.2s ease-in-out -0.5s infinite alternate;
	-o-animation:muma02 1.2s ease-in-out -0.5s infinite alternate;
	-webkit-animation:muma02 1.2s ease-in-out -0.5s infinite alternate;
	animation:muma02 1.2s ease-in-out -0.5s infinite alternate;
}
.on .banIn01 .rm03 {
	-moz-animation:muma01 1.5s ease-in-out infinite alternate;
	-ms-animation:muma01 1.5s ease-in-out infinite alternate;
	-o-animation:muma01 1.5s ease-in-out infinite alternate;
	-webkit-animation:muma01 1.5s ease-in-out infinite alternate;
	animation:muma01 1.5s ease-in-out infinite alternate;
}

/*- 第二帧 -*/
@-moz-keyframes xjbn {0% { opacity:0;}40% { opacity:0;}100% { opacity:1;}}
@-ms-keyframes xjbn {0% { opacity:0;}40% { opacity:0;}100% { opacity:1;}}
@-o-keyframes xjbn {0% { opacity:0;}40% { opacity:0;}100% { opacity:1;}}
@-webkit-keyframes xjbn {0% { opacity:0;}40% { opacity:0;}100% { opacity:1;}}
@keyframes xjbn {0% { opacity:0;}40% { opacity:0;}100% { opacity:1;}}

@-moz-keyframes xjlg {0% { -moz-transform:translateY(-100px); opacity:0;}70% { -moz-transform:translateY(-100px); opacity:0;}100% { -moz-transform:translateY(0); opacity:1;}}
@-ms-keyframes xjlg {0% { -ms-transform:translateY(-100px); opacity:0;}70% { -ms-transform:translateY(-100px); opacity:0;}100% { -ms-transform:translateY(0); opacity:1;}}
@-o-keyframes xjlg {0% { -o-transform:translateY(-100px); opacity:0;}70% { -o-transform:translateY(-100px); opacity:0;}100% { -o-transform:translateY(0); opacity:1;}}
@-webkit-keyframes xjlg {0% { -webkit-transform:translateY(-100px); opacity:0;}70% { -webkit-transform:translateY(-100px); opacity:0;}100% { -webkit-transform:translateY(0); opacity:1;}}
@keyframes xjlg {0% { transform:translateY(-100px); opacity:0;}70% { transform:translateY(-100px); opacity:0;}100% { transform:translateY(0); opacity:1;}}

@-moz-keyframes xjrw {0% { -moz-transform:translateY(120px) scale(0); opacity:0;}40% { -moz-transform:translateY(120px) scale(0.4); opacity:0;}100% { -moz-transform:translateY(0) scale(1); opacity:1;}}
@-ms-keyframes xjrw {0% { -ms-transform:translateY(120px) scale(0); opacity:0;}40% { -ms-transform:translateY(120px) scale(0.4); opacity:0;}100% { -ms-transform:translateY(0) scale(1); opacity:1;}}
@-o-keyframes xjrw {0% { -o-transform:translateY(120px) scale(0); opacity:0;}40% { -o-transform:translateY(120px) scale(0.4); opacity:0;}100% { -o-transform:translateY(0) scale(1); opacity:1;}}
@-webkit-keyframes xjrw {0% { -webkit-transform:translateY(120px) scale(0); opacity:0;}40% { -webkit-transform:translateY(120px) scale(0.4); opacity:0;}100% { -webkit-transform:translateY(0) scale(1); opacity:1;}}
@keyframes xjrw {0% { transform:translateY(120px) scale(0); opacity:0;}40% { transform:translateY(120px) scale(0.4); opacity:0;}100% { transform:translateY(0) scale(1); opacity:1;}}

.banIn02 { background:url(../images/index_Banner/banC02_tu_01.jpg) no-repeat center center;}
.banIn02 .lg { top:122px; right:44px;}
.banIn02 .rw { top:-48px; left:208px;}

.on .banIn02 {
	-moz-animation:xjbn 1.2s ease-in-out -0.2s;
	-ms-animation:xjbn 1.2s ease-in-out -0.2s;
	-o-animation:xjbn 1.2s ease-in-out -0.2s;
	-webkit-animation:xjbn 1.2s ease-in-out -0.2s;
	animation:xjbn 1.2s ease-in-out -0.2s;
	}
	
.on .banIn02 .lg {
	-moz-animation:xjlg 1.6s ease-in-out -0.3s;
	-ms-animation:xjlg 1.6s ease-in-out -0.3s;
	-o-animation:xjlg 1.6s ease-in-out -0.3s;
	-webkit-animation:xjlg 1.6s ease-in-out -0.3s;
	animation:xjlg 1.6s ease-in-out -0.3s;
	}
.on .banIn02 .rw {
	-moz-animation:xjrw 1s ease-in-out -0.2s;
	-ms-animation:xjrw 1s ease-in-out -0.2s;
	-o-animation:xjrw 1s ease-in-out -0.2s;
	-webkit-animation:xjrw 1s ease-in-out -0.2s;
	animation:xjrw 1s ease-in-out -0.2s;	
	}

/*- 第三帧 -*/
@-moz-keyframes qslg {0% { -moz-transform:translateY(-40px); opacity:0;}70% { -moz-transform:translateY(-40px); opacity:0;}100% { -moz-transform:translateY(0); opacity:1;}}
@-ms-keyframes qslg {0% { -ms-transform:translateY(-40px); opacity:0;}70% { -ms-transform:translateY(-40px); opacity:0;}100% { -ms-transform:translateY(0); opacity:1;}}
@-o-keyframes qslg {0% { -o-transform:translateY(-40px); opacity:0;}70% { -o-transform:translateY(-40px); opacity:0;}100% { -o-transform:translateY(0); opacity:1;}}
@-webkit-keyframes qslg {0% { -webkit-transform:translateY(-40px); opacity:0;}70% { -webkit-transform:translateY(-40px); opacity:0;}100% { -webkit-transform:translateY(0); opacity:1;}}
@keyframes qslg {0% { transform:translateY(-40px); opacity:0;}70% { transform:translateY(-40px); opacity:0;}100% { transform:translateY(0); opacity:1;}}

@-moz-keyframes qsrw {0% { -moz-transform:translateX(-220px) scale(0); opacity:0;}40% { -moz-transform:translateX(-220px) scale(0.4); opacity:0;}100% { -moz-transform:translateX(0) scale(1); opacity:1;}}
@-ms-keyframes qsrw {0% { -ms-transform:translateX(-220px) scale(0); opacity:0;}40% { -ms-transform:translateX(-220px) scale(0.4); opacity:0;}100% { -ms-transform:translateX(0) scale(1); opacity:1;}}
@-o-keyframes qsrw {0% { -o-transform:translateX(-220px) scale(0); opacity:0;}40% { -o-transform:translateX(-220px) scale(0.4); opacity:0;}100% { -o-transform:translateX(0) scale(1); opacity:1;}}
@-webkit-keyframes qsrw {0% { -webkit-transform:translateX(-220px) scale(0); opacity:0;}40% { -webkit-transform:translateX(-220px) scale(0.4); opacity:0;}100% { -webkit-transform:translateX(0) scale(1); opacity:1;}}
@keyframes qsrw {0% { transform:translateX(-220px) scale(0); opacity:0;}40% { transform:translateX(-220px) scale(0.4); opacity:0;}100% { transform:translateX(0) scale(1); opacity:1;}}

.banIn03 { background:url(../images/index_Banner/banIn03_Tu_01.jpg) no-repeat center 0;}
.banIn03 .lg { top:40px; right:46px;}
.banIn03 .rw { top:-39px; left:168px;
-moz-transform-origin:370px 388px; -ms-transform-origin:370px 388px; -o-transform-origin:370px 388px; -webkit-transform-origin:370px 388px; transform-origin:370px 388px;
}
.banIn03 .hb01 { top:-10px; left:20px;}
.banIn03 .hb02 { top:300px; right:34px;}
.on .banIn03 .lg {
	-moz-animation:qslg 1.2s ease-in-out -0.2s;
	-ms-animation:qslg 1.2s ease-in-out -0.2s;
	-o-animation:qslg 1.2s ease-in-out -0.2s;
	-webkit-animation:qslg 1.2s ease-in-out -0.2s;
	animation:qslg 1.2s ease-in-out -0.2s;
	}

.on .banIn03 .rw {
	-moz-animation:qsrw 0.8s ease-in-out -0.2s;
	-ms-animation:qsrw 0.8s ease-in-out -0.2s;
	-o-animation:qsrw 0.8s ease-in-out -0.2s;
	-webkit-animation:qsrw 0.8s ease-in-out -0.2s;
	animation:qsrw 0.8s ease-in-out -0.2s;
	}

/*- 第四帧 -*/
@-moz-keyframes msgbg {0% { background-position:center 350px; opacity:0;}50% { background-position:center 350px; opacity:0;}100% { background-position:center 0; opacity:1;}}
@-ms-keyframes msgbg {0% { background-position:center 350px; opacity:0;}50% { background-position:center 350px; opacity:0;}100% { background-position:center 0; opacity:1;}}
@-o-keyframes msgbg {0% { background-position:center 350px; opacity:0;}50% { background-position:center 350px; opacity:0;}100% { background-position:center 0; opacity:1;}}
@-webkit-keyframes msgbg {0% { background-position:center 350px; opacity:0;}50% { background-position:center 350px; opacity:0;}100% { background-position:center 0; opacity:1;}}
@keyframes msgbg {0% { background-position:center 350px; opacity:0;}50% { background-position:center 350px; opacity:0;}100% { background-position:center 0; opacity:1;}}

@-moz-keyframes msglg {0% { -moz-transform:translateY(-40px); opacity:0;}75% { -moz-transform:translateY(-40px); opacity:0;}100% { -moz-transform:translateY(0); opacity:1;}}
@-ms-keyframes msglg {0% { -ms-transform:translateY(-40px); opacity:0;}75% { -ms-transform:translateY(-40px); opacity:0;}100% { -ms-transform:translateY(0); opacity:1;}}
@-o-keyframes msglg {0% { -o-transform:translateY(-40px); opacity:0;}75% { -o-transform:translateY(-40px); opacity:0;}100% { -o-transform:translateY(0); opacity:1;}}
@-webkit-keyframes msglg {0% { -webkit-transform:translateY(-40px); opacity:0;}75% { -webkit-transform:translateY(-40px); opacity:0;}100% { -webkit-transform:translateY(0); opacity:1;}}
@keyframes msglg {0% { transform:translateY(-40px); opacity:0;}75% { transform:translateY(-40px); opacity:0;}100% { transform:translateY(0); opacity:1;}}
	
@-moz-keyframes msgrw {0% { -moz-transform:scale(0); opacity:0;}60% { -moz-transform:scale(0); opacity:0;}100% { -moz-transform:scale(1); opacity:1;}}
@-ms-keyframes msgrw {0% { -ms-transform:scale(0); opacity:0;}60% { -ms-transform:scale(0); opacity:0;}100% { -ms-transform:scale(1); opacity:1;}}
@-o-keyframes msgrw {0% { -o-transform:scale(0); opacity:0;}60% { -o-transform:scale(0); opacity:0;}100% { -o-transform:scale(1); opacity:1;}}
@-webkit-keyframes msgrw {0% { -webkit-transform:scale(0); opacity:0;}60% { -webkit-transform:scale(0); opacity:0;}100% { -webkit-transform:scale(1); opacity:1;}}
@keyframes msgrw {0% { transform:scale(0); opacity:0;}60% { transform:scale(0); opacity:0;}100% { transform:scale(1); opacity:1;}}

.banIn04 { background:url(../images/index_Banner/banIn04_Tu_01.gif) no-repeat center 0;}
.banIn04 .lg { top:42px; right:72px;}
.banIn04 .rw { top:-10px; left:280px;
-moz-transform-origin:center 50px; -ms-transform-origin:center 50px; -o-transform-origin:center 50px; -webkit-transform-origin:center 50px; transform-origin:center 50px;
}
.on .banIn04 {
	-moz-animation:msgbg 1s ease-in-out -0.2s;
	-ms-animation:msgbg 1s ease-in-out -0.2s;
	-o-animation:msgbg 1s ease-in-out -0.2s;
	-webkit-animation:msgbg 1s ease-in-out -0.2s;
	animation:msgbg 1s ease-in-out -0.2s;
	}
.on .banIn04 .lg {
	-moz-animation:msglg 1.4s ease-in-out -0.1s;
	-ms-animation:msglg 1.4s ease-in-out -0.1s;
	-o-animation:msglg 1.4s ease-in-out -0.1s;
	-webkit-animation:msglg 1.4s ease-in-out -0.1s;
	animation:msglg 1.4s ease-in-out -0.1s;
	}
.on .banIn04 .rw {
	-moz-animation:msgrw 1.2s ease-in-out -0.1s;
	-ms-animation:msgrw 1.2s ease-in-out -0.1s;
	-o-animation:msgrw 1.2s ease-in-out -0.1s;
	-webkit-animation:msgrw 1.2s ease-in-out -0.1s;
	animation:msgrw 1.2s ease-in-out -0.1s;
	}

/*- 第五帧 -*/
@-moz-keyframes sgzbg {0% { -moz-transform:scale(1.2);}100% { -moz-transform:scale(1);}}
@-ms-keyframes sgzbg {0% { -ms-transform:scale(1.2);}100% { -ms-transform:scale(1);}}
@-o-keyframes sgzbg {0% { -o-transform:scale(1.2);}100% { -o-transform:scale(1);}}
@-webkit-keyframes sgzbg {0% { -webkit-transform:scale(1.2);}100% { -webkit-transform:scale(1);}}
@keyframes sgzbg {0% { transform:scale(1.2);}100% { transform:scale(1);}}

@-moz-keyframes sgzlg {0% { -moz-transform:translateY(-144px); opacity:0;}65% { -moz-transform:translateY(-144px); opacity:0;}100% { -moz-transform:translateY(0); opacity:1;}}
@-ms-keyframes sgzlg {0% { -ms-transform:translateY(-144px); opacity:0;}65% { -ms-transform:translateY(-144px); opacity:0;}100% { -ms-transform:translateY(0); opacity:1;}}
@-o-keyframes sgzlg {0% { -o-transform:translateY(-144px); opacity:0;}65% { -o-transform:translateY(-144px); opacity:0;}100% { -o-transform:translateY(0); opacity:1;}}
@-webkit-keyframes sgzlg {0% { -webkit-transform:translateY(-144px); opacity:0;}65% { -webkit-transform:translateY(-144px); opacity:0;}100% { -webkit-transform:translateY(0); opacity:1;}}
@keyframes sgzlg {0% { transform:translateY(-144px); opacity:0;}65% { transform:translateY(-144px); opacity:0;}100% { transform:translateY(0); opacity:1;}}
	
@-moz-keyframes sgzrw01 {0%{ -moz-transform:translateX(200px) scale(0.4); opacity:0;}40%{ -moz-transform:translateX(200px) scale(0.4); opacity:0;}100%{ -moz-transform:translateX(0) scale(1); opacity:1;}}
@-ms-keyframes sgzrw01 {0%{ -ms-transform:translateX(200px) scale(0.4); opacity:0;}40%{ -ms-transform:translateX(200px) scale(0.4); opacity:0;}100%{ -ms-transform:translateX(0) scale(1); opacity:1;}}
@-o-keyframes sgzrw01 {0%{ -o-transform:translateX(200px) scale(0.4); opacity:0;}40%{ -o-transform:translateX(200px) scale(0.4); opacity:0;}100%{ -o-transform:translateX(0) scale(1); opacity:1;}}
@-webkit-keyframes sgzrw01 {0%{ -webkit-transform:translateX(200px) scale(0.4); opacity:0;}40%{ -webkit-transform:translateX(200px) scale(0.4); opacity:0;}100%{ -webkit-transform:translateX(0) scale(1); opacity:1;}}
@keyframes sgzrw01 {0%{ transform:translateX(200px) scale(0.4); opacity:0;}40%{ transform:translateX(200px) scale(0.4); opacity:0;}100%{ transform:translateX(0) scale(1); opacity:1;}}

@-moz-keyframes sgzrw02 {0%{ -moz-transform:translateX(-200px) scale(0.4); opacity:0;}40%{ -moz-transform:translateX(-200px) scale(0.4); opacity:0;}100%{ -moz-transform:translateX(0) scale(1); opacity:1;}}
@-ms-keyframes sgzrw02 {0%{ -ms-transform:translateX(-200px) scale(0.4); opacity:0;}40%{ -ms-transform:translateX(-200px) scale(0.4); opacity:0;}100%{ -ms-transform:translateX(0) scale(1); opacity:1;}}
@-o-keyframes sgzrw02 {0%{ -o-transform:translateX(-200px) scale(0.4); opacity:0;}40%{ -o-transform:translateX(-200px) scale(0.4); opacity:0;}100%{ -o-transform:translateX(0) scale(1); opacity:1;}}
@-webkit-keyframes sgzrw02 {0%{ -webkit-transform:translateX(-200px) scale(0.4); opacity:0;}40%{ -webkit-transform:translateX(-200px) scale(0.4); opacity:0;}100%{ -webkit-transform:translateX(0) scale(1); opacity:1;}}
@keyframes sgzrw02 {0%{ transform:translateX(-200px) scale(0.4); opacity:0;}40%{ transform:translateX(-200px) scale(0.4); opacity:0;}100%{ transform:translateX(0) scale(1); opacity:1;}}

.banIn05 { background:url(../images/index_Banner/banIn05_Tu_01.jpg) no-repeat center 0;
-moz-transform-origin:center center; -ms-transform-origin:center center; -o-transform-origin:center center; -webkit-transform-origin:center center; transform-origin:center center;
}
.banIn05 .lg { top:144px; right:36px;}
.banIn05 .rw01,.banIn05 .rw02 { bottom:0;}
.banIn05 .rw01 { left:110px;
-moz-transform-origin:246px bottom; -ms-transform-origin:246px bottom; -o-transform-origin:246px bottom; -webkit-transform-origin:246px bottom; transform-origin:246px bottom;
}
.banIn05 .rw02 {left:468px;
-moz-transform-origin:144px bottom; -ms-transform-origin:144px bottom; -o-transform-origin:144px bottom; -webkit-transform-origin:144px bottom; transform-origin:144px bottom;
}

.banC05.on {
	-moz-animation:sgzbg 0.4s ease-in-out;
	-ms-animation:sgzbg 0.4s ease-in-out;
	-o-animation:sgzbg 0.4s ease-in-out;
	-webkit-animation:sgzbg 0.4s ease-in-out;
	animation:sgzbg 0.4s ease-in-out;
	}
.on .banIn05 .lg {
	-moz-animation:sgzlg 1.2s ease-in-out -0.1s;
	-ms-animation:sgzlg 1.2s ease-in-out -0.1s;
	-o-animation:sgzlg 1.2s ease-in-out -0.1s;
	-webkit-animation:sgzlg 1.2s ease-in-out -0.1s;
	animation:sgzlg 1.2s ease-in-out -0.1s;
	}
.on .banIn05 .rw01 {
	-moz-animation:sgzrw01 0.6s ease-in-out -0.1s;
	-ms-animation:sgzrw01 0.6s ease-in-out -0.1s;
	-o-animation:sgzrw01 0.6s ease-in-out -0.1s;
	-webkit-animation:sgzrw01 0.6s ease-in-out -0.1s;
	animation:sgzrw01 0.6s ease-in-out -0.1s;
	}
.on .banIn05 .rw02 {
	-moz-animation:sgzrw02 0.9s ease-in-out -0.1s;
	-ms-animation:sgzrw02 0.9s ease-in-out -0.1s;
	-o-animation:sgzrw02 0.9s ease-in-out -0.1s;
	-webkit-animation:sgzrw02 0.9s ease-in-out -0.1s;
	animation:sgzrw02 0.9s ease-in-out -0.1s;
	}

/*- 第六帧 -*/
@-moz-keyframes xxalbg {0% { -moz-transform:scale(0.9);}100% { -moz-transform:scale(1);}}
@-ms-keyframes xxalbg {0% { -ms-transform:scale(0.9);}100% { -ms-transform:scale(1);}}
@-o-keyframes xxalbg {0% { -o-transform:scale(0.9);}100% { -o-transform:scale(1);}}
@-webkit-keyframes xxalbg {0% { -webkit-transform:scale(0.9);}100% { -webkit-transform:scale(1);}}
@keyframes xxalbg {0% { transform:scale(0.9);}100% { transform:scale(1);}}

@-moz-keyframes xxallg {0% { -moz-transform:translateY(-36px); opacity:0;}80% { -moz-transform:translateY(-36px); opacity:0;}100% { -moz-transform:translateY(0); opacity:1;}}
@-ms-keyframes xxallg {0% { -ms-transform:translateY(-36px); opacity:0;}80% { -ms-transform:translateY(-36px); opacity:0;}100% { -ms-transform:translateY(0); opacity:1;}}
@-o-keyframes xxallg {0% { -o-transform:translateY(-36px); opacity:0;}80% { -o-transform:translateY(-36px); opacity:0;}100% { -o-transform:translateY(0); opacity:1;}}
@-webkit-keyframes xxallg {0% { -webkit-transform:translateY(-36px); opacity:0;}80% { -webkit-transform:translateY(-36px); opacity:0;}100% { -webkit-transform:translateY(0); opacity:1;}}
@keyframes xxallg {0% { transform:translateY(-36px); opacity:0;}80% { transform:translateY(-36px); opacity:0;}100% { transform:translateY(0); opacity:1;}}
	
@-moz-keyframes xxalrw {0% { -moz-transform:scale(0.6); opacity:0;}40% { -moz-transform:scale(0.6); opacity:0;}100% { -moz-transform:scale(1); opacity:1;}}
@-ms-keyframes xxalrw {0% { -ms-transform:scale(0.6); opacity:0;}40% { -ms-transform:scale(0.6); opacity:0;}100% { -ms-transform:scale(1); opacity:1;}}
@-o-keyframes xxalrw {0% { -o-transform:scale(0.6); opacity:0;}40% { -o-transform:scale(0.6); opacity:0;}100% { -o-transform:scale(1); opacity:1;}}
@-webkit-keyframes xxalrw {0% { -webkit-transform:scale(0.6); opacity:0;}40% { -webkit-transform:scale(0.6); opacity:0;}100% { -webkit-transform:scale(1); opacity:1;}}
@keyframes xxalrw {0% { transform:scale(0.6); opacity:0;}40% { transform:scale(0.6); opacity:0;}100% { transform:scale(1); opacity:1;}}

.banIn06 { background:url(../images/index_Banner/banIn06_Tu_01.jpg) no-repeat center 0;}
.banIn06 .lg { top:36px; right:28px;}
.banIn06 .rw { top:-18px; right:318px;
-moz-transform-origin:center 300px; -ms-transform-origin:center 300px; -o-transform-origin:center 300px; -webkit-transform-origin:center 300px; transform-origin:center 300px;
}

.banC06.on {
	-moz-animation:xxalbg 0.4s ease-in-out;
	-ms-animation:xxalbg 0.4s ease-in-out;
	-o-animation:xxalbg 0.4s ease-in-out;
	-webkit-animation:xxalbg 0.4s ease-in-out;
	animation:xxalbg 0.4s ease-in-out;
	}
.on .banIn06 .lg {
	-moz-animation:xxallg 1s ease-in-out -0.1s;
	-ms-animation:xxallg 1s ease-in-out -0.1s;
	-o-animation:xxallg 1s ease-in-out -0.1s;
	-webkit-animation:xxallg 1s ease-in-out -0.1s;
	animation:xxallg 1s ease-in-out -0.1s;
	}
.on .banIn06 .rw {
	-moz-animation:xxalrw 0.8s ease-in-out -0.1s;
	-ms-animation:xxalrw 0.8s ease-in-out -0.1s;
	-o-animation:xxalrw 0.8s ease-in-out -0.1s;
	-webkit-animation:xxalrw 0.8s ease-in-out -0.1s;
	animation:xxalrw 0.8s ease-in-out -0.1s;
	}